body {
    height: 100vh;
    margin: 0;
}

.navbar {
    position: fixed;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    overflow: auto;
}

.content {
    margin-left: 25%;
    min-height: 100vh;
}

.priority-1 {
    background-color: green;
}

.priority-2 {
    background-color: orange;
}

.priority-3 {
    background-color: red;
}