
body {
    height: 100vh;
    margin: 0;
}

.navbar {
    position: fixed;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    overflow: auto;
}

.navbarlink, .navbar-project {
    cursor: pointer;
}

.navbarlink:hover, .navbar-project:hover {
    background-color: aquamarine;
}

.content {
    margin-left: 25%;
    min-height: 100vh;
}

.projects-header, .navbarlink {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.project-container {
    margin: 0 0.2em 0.2em 0.2em ;
    padding: 1em;
    border-radius: 8px;
    border: 5px solid black;
    background-color: rgba(137, 43, 226, 0.341);
}

.projects-form {
    display: none;
}

.show {
    display: inline;
}

.hide {
    display: none;
}

#show-projects-form{
    cursor: pointer;
    padding: 1em;
}

.priority-1 {
    border: 0.25em solid red;
}

.priority-2 {
    border: 0.25em solid orange;
}

.priority-3 {
    border: 0.25em solid green;
}

.priority-4 {
    border: 0.25em solid aqua;
}

.task-header {
    display: flex;
}

.checkmark {
    width: 1.9em;    
    border-radius: 0.15em;        
}

.modal {    
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }